---
import ArchiveLayout from "../../layouts/ArchiveLayout.astro";
import EventCard from "../../components/cards/EventCard.astro";
import { getOrderedContent } from "../../lib/content";

const { events } = await getOrderedContent();
---

<ArchiveLayout title="Eventos" description="Actividades especiales, semanas de oracion y encuentros comunitarios." kicker="Agenda">
  <div class="grid gap-6 lg:grid-cols-2">
    {
      events.map((item) => (
        <EventCard
          href={`/eventos/${item.slug}/`}
          title={item.data.title}
          description={item.data.description}
          date={item.data.startDate.toLocaleDateString("es-HN", { day: "numeric", month: "long", year: "numeric" })}
          location={item.data.location}
          registrationUrl={item.data.registrationUrl}
        />
      ))
    }
  </div>
</ArchiveLayout>
